body {
  min-width: 500px;
}
.white {
  color: #ffffff;
}
.gray {
  background-color: gray;
}

.green {
  background-color: #5ece7b !important;
}

.bold {
  font-weight: 700;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.fixed {
  position: fixed;
}

/* //////////////////////// logo /////////////////*/
.logo {
  position: absolute;
  height: 40px;
  left: 50%;
  top: calc(50% - 41px / 2 + 4.5px);
}

.cartLogo {
  height: 20px;
  right: 0;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 234px;
  height: 56px;
  bottom: 0px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 204px;
  height: 40px;
  right: 101px;
  top: 23px;
}
.currencyLabel {
  position: absolute;
  right: 48px;
  height: 29px;
  padding-left: 10px;
  padding-right: 16px;
  cursor: pointer;
}
.currencyList {
  cursor: pointer;
  max-width: 150px;
  user-select: none;
  font-size: 18px;
}
.dropDownContainer {
  margin: 0 auto;
}
.dropDownHeader {
  font-family: Raleway;
  line-height: 160%;
  padding-left: 40px;
  font-weight: 500;
  color: #1d1f22;
}
.up {
  width: 6px;
  height: 10px;
  margin-left: 10px;
}
.dropDownListContainer {
  position: absolute;
  margin-left: 10px;
  width: 120px;
  left: 52px;
}
.dropDownList {
  position: absolute;
  background-color: white;
  width: 114px;
  margin-top: 8px;
  padding-left: 25px;
  padding-top: 20px;
  border: 2px solid #fff;
  box-shadow: 0px 2px 19px 1px rgb(223 223 223);
  z-index: 1;
}
.listItem {
  font-family: Raleway;
  list-style: none;
  margin-bottom: 20px;
  text-align: left;
}

.cartQtty {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #1d1f22;
  border-radius: 60px;
  color: #fff;
  text-align: center;
  top: 0px;
  right: -13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 90%;
  min-width: 500px;
  background: #ffffff;
  text-align: center;
  margin: auto 100px;
}

.headerBtnActive {
  position: relative;
  height: 54px;
  border-bottom: 2px solid #5ece7b;
  text-decoration: none !important;
  color: #5ece7b;
}

.headerBtnInactive {
  position: relative;
  height: 56px;
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

.labelHeaderBtn {
  position: relative;
  top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
}

/*//////////////// Category Name ////////////////*/
h1 {
  font-family: Raleway;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;
  text-align: left;
  margin-top: 160px;
}

/*//////////////// Card ////////////////*/
.container {
  position: absolute;
  z-index: -1;
  background: #ffffff;
  text-align: center;
  margin: auto 100px;
  text-decoration: none !important;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none !important;
}

.productTile {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: left;
  margin: 0;
  color: #1d1f22;
  text-decoration: none !important;
}

.productPrice {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  margin: 0;
  color: #1d1f22;
  text-decoration: double;
}

.productImage {
  height: 330px;
  width: auto;
  padding: 16px 16px 24px 16px;
  max-width: 100%;
  text-decoration: none !important;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  margin-bottom: 100px;
  padding: 16px;
  position: relative;
  text-decoration: none !important;
}

.out {
  position: absolute;
  color: #000;
  text-align: center;
  top: 40%;
  left: 30%;
  font-size: 24px;
  font-weight: 400;
}
.outOfStock {
  position: relative;
}

.add {
  position: absolute;
  right: 31px;
  bottom: 72px;
  transform: scale(0, 0);
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 35px 0px #a8acb030;
}
.card:hover img {
  transform: scale(1, 1);
}

.show.add:hover {
  transform: scale(1.2);
}

/*/////////////// PDP ///////////////*/

.productWrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 160px 100px;
}

.smallImages {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 600px;
  min-width: 150px;
  overflow-y: scroll;
}

.smallImages img {
  display: block;
  width: 130px;
  margin: 20px 0;
  cursor: pointer;
}

.bigImage img {
  height: 600px;
}

.productBlock {
  width: 400px;
}

.productName {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 16px;
}

.productBrand {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  text-align: left;
}

.productBtn {
  background: gray;
  width: 292px;
  height: 52px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: #ffffff;
  font-family: Raleway;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}
.productBtn:hover {
  cursor: pointer;
}

.productDescription {
  font-family: Roboto;
  line-height: 159.96%;
  color: #1d1f22;
}

.productPrice span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
}

.productPrice p {
  font-family: Roboto Condensed;
  line-height: 18px;
}
.productSizes p {
  font-family: Roboto Condensed;
  line-height: 18px;
  font-size: 18px;
  text-transform: uppercase;
}

.sizesWrapper {
  display: flex;
}
.productSize {
  width: 63px;
  height: 45px;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  font-family: Source Sans Pro;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  margin-right: 12px;
  cursor: pointer;
}
.productSize.small {
  height: 24px;
  width: 24px;
  font-size: 14px;
}

.without {
  font-family: Raleway !important;
}

/* /////////////// Cart /////////////////// */
.cartContainer {
  margin-bottom: 80px;
}
.line {
  position: relative;
  z-index: -1;
  opacity: 0.5;
  margin: 20px 100px;
  background: #e5e5e5;
}

.cartHeader {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 160px 0 40px 100px;
}

.emptyCart {
  margin-left: 100px;
}

.cartElementHeader {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 16px 0;
}
.cartElementHeader.small {
  font-size: 16px;
  font-weight: 300;
  width: 136px;
  margin-bottom: 5px;
}
.cartElementSubHeader {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 0 12px 0;
}
.cartElementPrice {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 0 12px 0;
}
.cartElementPrice.small {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.attribute.small {
  font-family: Raleway;
  font-size: 12px;
  margin: 5px 0;
}

.cartBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}
.cartBlock.small {
  margin: 23px 0 18px;
}

.cartBlock2 {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
}
.images {
  position: relative;
}
.left {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 45%;
  cursor: pointer;
}
.left:hover {
  background: black;
  border-radius: 50%;
}
.right {
  position: absolute;
  right: 0;
  top: 45%;
  cursor: pointer;
}
.right:hover {
  background: black;
  border-radius: 50%;
}

.rectangleCounter {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border: 1px solid #1d1f22;
  background-color: white;
  cursor: pointer;
}
.rectangleCounter.small {
  height: 24px;
  width: 24px;
}

.counteNumber {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}
.counteNumber.small {
  font-size: 16px;
  line-height: 26px;
}

.itemImage {
  height: 185px;
  z-index: -1;
  position: relative;
}
.itemImage.small {
  height: 130px;
  position: initial;
}

.size {
  background-color: #000;
  color: #fff;
}

/* ///////////////////////// Cart Overlay //////////////////////////////////*/

.overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 0;
  top: 79px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 2;
  overflow: hidden;
}

.modalContent {
  position: absolute;
  top: 0;
  right: 13%;
  width: 350px;
  height: 550px;
  background-color: #fff;
  padding: 15px 0 15px 15px;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #1d1f22;
}

.display {
  position: fixed;
  top: 79px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(57, 55, 72, 0.22);
  overflow: hidden;
}

.productCart {
  display: grid;
  grid-template-columns: 136px 52px 105px;
  height: 137px;
  width: 293px;
  padding-left: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.productTileCart {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: #1d1f22;
  text-align: left;
  position: relative;
  height: 52px;
  width: 136px;
}

.productPriceCart {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  position: relative;
  padding-top: 5px;
}

.productCartImg {
  height: 137px;
  width: 105px;
}

.rectangle {
  font-size: 18px;
  text-align: center;
  height: 24px;
  width: 24px;
  border: 1px solid #1d1f22;
  background-color: white;
  cursor: pointer;
}

.count {
  padding-top: 30px;
  padding-bottom: 30px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.totalLabel {
  text-align: left;
  margin-left: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.totalAmount {
  text-align: right;
  margin-right: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
}
.viewBagBtn {
  width: 140px;
  height: 43px;
  background-color: #ffffff;
  border: 1px solid #1d1f22;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.btnWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.checkOutBtn {
  width: 140px;
  height: 43px;
  background: #5ece7b;
  color: #ffffff;
  border-style: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.cartOverlayTitle {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  margin-top: 8px;
}
